@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter Medium";
  src: url("./assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter Bold";
  src: url("./assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-display: swap;
}


html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
